.sidebar-main {
  background-color: #c1a1a1;
  height: 100%;
  transition: width 0.25s ease;
  box-sizing: border-box;
}
.open {
  padding: 20px;
  width: 220px;
}
.closed {
  width: 0px;
  overflow: hidden;
  padding: 0px;
}
.items-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item {
  /* padding: 10px; */
  cursor: pointer;
}
